@use "../themeprovider/themeprovider" as theme;

@mixin auto-complete-list($background) {
  display: flex;
  align-items: center;
  background: $background;
  padding: 0.9em 1em;
  cursor: pointer;

  svg {
    flex-shrink: 0;
    align-self: flex-start;
  }

  p {
    color: theme.$white-color;
    font-size: 0.9rem;
    font-weight: 400;
    padding-left: 0.5em;
    overflow-wrap: anywhere;

    @supports not (overflow-wrap: anywhere) {
      word-break: break-word;
    }
  }
}

.auto-complete-desktop {
  list-style: none;
  display: none;
  background: theme.$slightly-dark-color;
  position: absolute;
  z-index: 2;
  width: min(30em, 100%);
  overflow-y: auto;
  max-height: 34em;

  .auto-complete-desktop-list-active {
    @include auto-complete-list(theme.$gray-color);
  }

  .auto-complete-desktop-list {
    @include auto-complete-list(transparent);

    &:hover {
      background: theme.$gray-color;
    }

    &:focus {
      background: theme.$gray-color;
    }
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
  }

  &:hover::-webkit-scrollbar-thumb {
    background: theme.$very-light-gray-color;
  }

  &::-webkit-scrollbar-track {
    background: theme.$slightly-dark-color;
  }
}

@media (min-width: theme.$media-query-large-value) {
  .auto-complete-desktop {
    display: block;
  }
}
