@use "./themeprovider/themeprovider" as theme;

:root {
  color-scheme: dark;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: theme.$slightly-darker-color;
}

::-webkit-scrollbar {
  width: 8px;
  background: theme.$slightly-darker-color;
}

::-webkit-scrollbar-track {
  background: theme.$slightly-darker-color;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: theme.$very-light-gray-color;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: theme.$light-gray-color;
}
