@use "./themeprovider/themeprovider" as theme;

$transition: 0.15s linear;

@mixin button-content() {
  border: none;
  outline: none;
  cursor: pointer;
}

@mixin search-input-content() {
  justify-content: flex-end;
  align-items: center;
  position: relative;

  input {
    background: theme.$slightly-darker-color;
    padding: 0.75em 1em;
    font-size: 1rem;
    font-family: inherit;
    font-weight: 500;
    border: 2px solid theme.$slightly-dark-gray-color;
    outline: none;
    width: 100%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    transition: border $transition;

    &:hover {
      border: 2px solid theme.$dark-blue-color;
    }

    &:focus {
      outline: none;
      border: 2px solid theme.$dark-blue-color;
    }

    &::placeholder {
      color: theme.$light-gray-color;
      font-weight: 500;
      font-size: 1rem;
      font-family: inherit;
    }
  }

  button {
    @include button-content();
    background: theme.$slightly-dark-gray-color;
    padding: 0.75em 1.5em;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: background $transition;

    &:hover {
      background: theme.$gray-color;
    }
  }
}

@mixin navbar-content-mobile() {
  background: theme.$slightly-darker-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  position: fixed;
  width: 100%;
  top: 0;

  .web-icons {
    display: flex;
    align-items: center;

    button {
      @include button-content();
      background: none;
    }

    img {
      margin-left: 1em;
    }
  }

  .search-wrapper-desktop {
    width: min(31em, 100%);
    display: none;

    .search-input-desktop {
      display: none;
      @include search-input-content();
    }

    .auto-complete-desktop {
      display: none;
      background: theme.$slightly-dark-color;
      position: absolute;
      z-index: 2;
      width: min(31em, 100%);
      margin-right: 5em;
      overflow: auto;
      height: min(34em, 100vh);

      div {
        display: flex;
        align-items: center;
        background: transparent;
        padding: 0.9em 1em;
        cursor: pointer;

        svg {
          flex-shrink: 0;
        }

        p {
          color: theme.$white-color;
          font-size: 0.9rem;
          font-weight: 400;
          padding-left: 0.5em;
          overflow-wrap: anywhere;

          @supports not (overflow-wrap: anywhere) {
            word-break: break-word;
          }
        }

        &:hover {
          background: theme.$gray-color;
        }
      }
    }
  }

  .search-wrapper-mobile {
    width: 100%;

    .search-input-mobile {
      display: flex;
      @include search-input-content();
    }

    .auto-complete-mobile {
      background: theme.$slightly-darker-color;
      position: absolute;
      z-index: 2;
      left: 0;
      width: 100%;
      overflow: auto;
      height: calc(100vh - 3em);

      div {
        display: flex;
        align-items: center;
        background: transparent;
        padding: 0.9em 1.2em;
        cursor: pointer;

        svg {
          flex-shrink: 0;
        }

        p {
          color: theme.$white-color;
          font-size: 1rem;
          font-weight: 400;
          padding-left: 0.5em;
          overflow-wrap: anywhere;

          @supports not (overflow-wrap: anywhere) {
            word-break: break-word;
          }
        }

        &:hover {
          background: theme.$gray-color;
        }
      }
    }
  }

  .mobile-search {
    @include button-content();
    background: theme.$slightly-dark-gray-color;
    padding: 0.75em;
    border-radius: 50px;
    transition: background $transition;

    &:hover {
      background: theme.$gray-color;
    }
  }
}

@mixin navbar-content-desktop($display-hamburger-icon) {
  .web-icons {
    button {
      display: $display-hamburger-icon;
    }
  }

  .search-wrapper-desktop {
    display: block;

    .search-input-desktop {
      display: flex;
    }

    .auto-complete-desktop {
      display: block;
    }
  }

  .search-wrapper-mobile {
    display: none;
  }

  .mobile-search {
    display: none;
  }
}

.navbar {
  padding: 0.85em 1em;
  @include navbar-content-mobile();
  z-index: 3;
}

.navbar-video-section {
  padding: 0.85em 1em;
  @include navbar-content-mobile();
  z-index: 3;
}

@media (min-width: theme.$media-query-large-value) {
  .navbar {
    padding: 0.85em 1.5em 0.85em 16em;
    @include navbar-content-desktop(none);
  }

  .navbar-video-section {
    padding: 0.85em 1.5em;
    @include navbar-content-desktop(block);
  }
}
