@use "./themeprovider/themeprovider" as theme;

$transition: 0.25s linear;

@mixin category-content() {
  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: theme.$white-color;
    font-size: 1rem;
    font-family: inherit;
    font-weight: 500;
    padding: 1em 1.3em;
    margin: 1em 0em;
    cursor: pointer;

    .category-icon {
      font-size: 1.3rem;
      margin-right: 0.85em;
    }
  }
}

@mixin sidebar-content() {
  background: theme.$slightly-darker-color;
  position: fixed;
  top: 0;
  width: 16em;
  padding: 1em;
  overflow: auto;
  z-index: 4;

  ul {
    list-style: none;

    .active-category-link {
      background: theme.$slightly-dark-gray-color;
      border-radius: 10px;
      @include category-content();
    }

    .category-link {
      background: transparent;
      border-radius: 10px;
      transition: background 0.1s linear;
      @include category-content();

      &:hover {
        background: theme.$slightly-dark-gray-color;
      }
    }
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
  }

  &:hover::-webkit-scrollbar-thumb {
    background: theme.$very-light-gray-color;
  }
}

@mixin overlay-content() {
  background: theme.$transparent-black-color;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
}

.sidebar-desktop {
  display: none;
  @include sidebar-content();
}

.sidebar-mobile {
  @include sidebar-content();
  transform: translateX(-20em);
  transition: transform $transition;
}

.sidebar-mobile-active {
  @include sidebar-content();
  transform: translateX(0em);
  transition: transform $transition;
}

.overlay-active {
  @include overlay-content();
  opacity: 1;
  visibility: visible;
  transition: opacity $transition, visibility $transition;
}

.overlay {
  @include overlay-content();
  opacity: 0;
  visibility: hidden;
  transition: opacity $transition, visibility $transition;
  pointer-events: none;
}

@media (min-width: theme.$media-query-large-value) {
  .sidebar-desktop {
    display: block;
  }
}
