@use "./themeprovider/themeprovider" as theme;

.container {
  padding: 6.5em 0em 3em 0em;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2em;
  list-style: none;

  .video-card {
    cursor: pointer;

    .image-container {
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .video-title {
      color: theme.$slightly-white-color;
      margin-top: 0.3em;
      font-size: 1.15rem;
      font-weight: 500;
      font-family: inherit;
      padding-right: 1em;
      padding-left: 0.6em;
      overflow-wrap: anywhere;

      @supports not (overflow-wrap: anywhere) {
        word-break: break-word;
      }
    }

    .video-channel-title {
      color: theme.$very-light-gray-color;
      margin-top: 0.5em;
      font-size: 0.95rem;
      font-weight: 400;
      font-family: inherit;
      padding-right: 1em;
      padding-left: 0.7em;
      overflow-wrap: anywhere;

      @supports not (overflow-wrap: anywhere) {
        word-break: break-word;
      }
    }

    .video-publish-date {
      color: theme.$very-light-gray-color;
      margin-top: 0.2em;
      font-size: 0.95rem;
      font-weight: 400;
      font-family: inherit;
      padding-right: 1em;
      padding-left: 0.7em;
    }

    .video-publish-date-channel {
      color: theme.$very-light-gray-color;
      margin-top: 0.5em;
      font-size: 0.95rem;
      font-weight: 400;
      font-family: inherit;
      padding-right: 1em;
      padding-left: 0.7em;
    }
  }
}

// 480px above
@media (min-width: theme.$media-query-extra-small-value) {
  .container {
    padding: 6.5em 2em 3em 2em;
    grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
    grid-column-gap: 1.5em;
    grid-row-gap: 2em;

    .video-card {
      .image-container {
        img {
          border-radius: 5px;
        }
      }

      .video-title {
        padding-right: 0em;
        padding-left: 0em;
      }

      .video-channel-title {
        padding-right: 0em;
        padding-left: 0em;
      }

      .video-publish-date {
        padding-right: 0em;
        padding-left: 0em;
      }

      .video-publish-date-channel {
        padding-right: 0em;
        padding-left: 0em;
      }
    }
  }
}

// 848px above
@media (min-width: theme.$media-query-large-value) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
    padding: 6.5em 2em 3em 16em;
  }
}

// 1000px above
@media (min-width: theme.$media-query-extra-large-value) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

// 1440px  above
@media (min-width: theme.$media-query-large-screen) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(19em, 1fr));
  }
}
