$white-color: #ffffff;

$slightly-white-color: #f1f1f1;

$black-color: #000000;

$transparent-black-color: rgba(0, 0, 0, 0.5);

$gray-color: #ffffff33;

$dark-gray-color: #ffffff14;

$slightly-dark-gray-color: #ffffff1a;

$light-gray-color: #717171;

$very-light-gray-color: #aaaaaa;

$slightly-dark-color: #212121;

$slightly-darker-color: #0f0f0f;

$dark-blue-color: #1c62b9;

$dark-red-color: #cc0000;
